/* Add all variables over here */

:root {
    --font1: clamp(1.52rem, 3vw, 2.5rem);
    --font2: clamp(1.4rem, 2.2vw, 2rem);
    --font3: clamp(1.2rem, 1.4vw, 1.8rem);
    /* --color_green: rgb(0, 165, 41); */
    --color_green: #00a708;
}

.topReads {
    /* border: 2px solid black; */
    margin: 2rem auto;
    width: 100%;
    background-color: rgb(186, 252, 186);
    padding: 1rem 0;
}

.topReads>h1 {
    font-size: var(--font1);
    text-align: center;
}

.topReads_cont {
    display: grid;
    /* border: 2px solid green; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    height: 90%;
    width: 80%;
    margin: 2rem auto;
    place-items: center;
}

.book {
    width: 60%;
    transform: scale(0.9);
    height: 80%;
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.book img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    position: relative;
    height: 100%;
}

.book:hover {
    transform: scale(1);
    box-shadow: 1px 13px 20px 0px #585555e0;
}

.book::after {
    content: "This is some random content.";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.692));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.book:hover::after {
    z-index: 1;
}

.book::before {
    content: "01";
    position: absolute;
    font-size: var(--font1);
    text-decoration: underline;
    color: var(--color_green);
    top: -4rem;
}


/* Exp */